*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */
:root {
    --ff-lato: 'Lato', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-dark: #181a1d;
    --clr-grey: #666666;
    --clr-light: #e7e7e7;
    --clr-accent: #448ee5;

    --fs-h1: 5.75rem;
    --fs-h2: 3.75rem;
    --fs-h3: 2.05rem;
    --fs-h4: 1.5rem;
    --fs-home-btn: 1.5rem;
    --fs-project-btn: 1.20rem;
    --fs-tech-btn: 1.25rem;
    --fs-nav: 1.35rem;
    --fs-body: 1.125rem;
}

/* Smaller Screens */
@media (max-width: 800px) {
    :root {
        --fs-h1: 3.75rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.65rem;
        --fs-h4: 1.25rem;
        --fs-home-btn: 1.15rem;
        --fs-project-btn: 0.95rem;
        --fs-tech-btn: 1.05rem;
        --fs-nav: 1.4em;
        --fs-body: 1rem;
    }
}

/* General Styling */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-lato);
    font-size: var(--fs-body);
    line-height: 1.6;
}

/* Desktop Margins */
@media (max-width: 1600px) {
    section {
        margin: 0 10%;
        padding: 1em 0;
    }
}
@media (max-width: 1450px) {
    section {
        margin: 0 7.5%;
        padding: 3em 0;
    }
}
@media (min-width: 1600px) {
    section {
        margin: 0 12.5%;
        padding: 2em 0;
    }
}

/* Font Styling */
h1,
h2,
h3,
h4 {
    line-height: 1.2;
    letter-spacing: 0.1rem;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}
h4 {font-size: var(--fs-h4);}

.section-title {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

/* Buttons and Links */
a {
    text-decoration: none;
}

.under-anim {
    position: relative;
}

.under-anim:hover, .under-anim:hover:after {
    right: 0;
    cursor: pointer;
}

.under-anim:after {
    border-radius: 1em;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .01rem;
    left: 0;
    transition: right .4s cubic-bezier(0, .5, 0, 1);
}

/* Link */
.link .under-anim {
    color: var(--clr-accent);
}

.link .under-anim:after {
    border-top: .125rem solid var(--clr-accent);
}

/* Nav Link */
.nav-link .under-anim {
    color: var(--clr-light);
}

.nav-link .under-anim:hover, .nav-link .under-anim:hover:after {
    color: var(--clr-accent);
}

.nav-link .under-anim:after {
    border-top: .125rem solid var(--clr-accent);
}

/* Button */
.button {
    font-weight: var(--fw-bold);
    color: var(--clr-accent);
    border: solid 2px var(--clr-accent);
    border-radius: 2rem;
    letter-spacing: 0.1rem;
}

.button:hover {
    background-color: var(--clr-accent);
    color: var(--clr-light);
}

/* Only Underlines when hovering text */
.button .under-anim:after {
    border-top: .125rem solid var(--clr-light);
}

/* Navbar */
header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--clr-dark);
    transition: top 0.3s;
    letter-spacing: 0.175rem;
    z-index: 10;
}

#navbar ul {
    float: right;
    list-style: none;
    padding: 10px 20px;
}

#navbar li {
    display: inline-block;
    margin: auto 1.5em;
    font-size: var(--fs-nav);
    text-align: center;
}

#navbar .button {
    padding: 0.7rem 1.4rem;
}

#mobile-nav-toggle { display: none; }

/* Home */
#home {
    padding: 15em 0 10em 0;
    width: 45em;
}

#home h1 {
}

#home p {
    margin: 1em 0 1.5em 0;
    font-size: calc(var(--fs-body) + 0.5rem);
}

#home-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#home-btns a {
    margin: 0 0.5em;
    padding: 0.7rem 1.4rem;
    font-size: var(--fs-home-btn);
}

/* Projects */
.project {
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
}
.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin: 0 1.5em;
    padding: 0;
}
.preview video {
    width: 100%;
    border-radius: 2em;
}
.description {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 1.5em;
}
.description h3 {

}
.used-tech {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
}
.used-tech li {
    display: inline-block;
    border: 2px solid var(--clr-grey);
    color: var(--clr-grey);
    font-size: var(--fs-project-btn);
    font-weight: var(--fw-bold);
    border-radius: 1em;
    margin: 0.2em 0.4em 0.2em 0;
    padding: 0.15em 0.75em;
    
}
.description h4 {

}
.description p {
    margin-top: 0.5em;
    margin-bottom: 0;
}
.visit-project-btns {
    list-style: none;
    margin: 1em 0;
    padding: 0;
    line-height: 3em;
}
.visit-project-btns li {
    display: inline-block;
    margin-right: 0.4em;
}
.visit-project-btns a {
    padding: 0.7rem 1.4rem;
    font-size: var(--fs-project-btn);
}
.learn-more {
    display: flex;
    justify-content: flex-start;
}
.learn-more a {
    padding: 0.7rem 1.4rem;
    font-size: var(--fs-project-btn);
}



/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

footer p {
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
}

/* Smaller Device Changes */
@media (max-width: 1250px) { 
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
    }

    #navbar {
        display: flex;
        position: fixed;
        width: 100%;
        height: calc(100% - 4em);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 4em;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0;
        background-color: rgba(31, 35, 39, 0.95); /* --clr-dark */
        transform: translateX(-100%);
        transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    }

    #navbar li {
        display: block;
        margin: 40% auto;
        text-align: center;
        transform: translateY(-2em);
        transition: 250ms;
    }

    #mobile-nav-toggle {
        display: block;
        position: absolute;
        left: 1em;
        right: 1em;
        padding: 0.5em;
        background: transparent;
        border: 0;
        outline: none;
        z-index: 20;
    }

    #hamburger {
        display: block;
        position: relative;
    }
    
    #hamburger,
    #hamburger::before,
    #hamburger::after {
        width: 2em;
        height: 4px;
        background: var(--clr-light);
        border-radius: 1em;
        transition: transform 250ms ease-in-out;
    }

    #hamburger::before,
    #hamburger::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        transition: 250ms;
    }

    #hamburger::before { top: 8px; }
    #hamburger::after { bottom: 8px; }

    /* Toggle Animation */
    .mobile-nav-open section,
    .mobile-nav-open footer {
        filter: blur(3px);
    }

    .mobile-nav-open header {
        background-color: rgba(31, 35, 39, 0.95); /* --clr-dark */
        transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    }

    .mobile-nav-open #navbar {
        transform: translateX(0);
    }

    .mobile-nav-open #hamburger {
        transform: rotate(225deg);
    }

    .mobile-nav-open #hamburger::before {
        transform: rotate(90deg) translateX(-8px);
    }

    .mobile-nav-open #hamburger::after {
        opacity: 0;
    }

    /* Footer */
    footer p strong {
        display: block;
    }

/* Home */
#home {
    width: calc(100% - 4em);
    margin: 0 2em;
    padding: 5em 0;
}

#home h1 {
    text-align: center;
}

#home p {
    text-align: center;
    margin: 0.5em 0 1em 0;
}

#home-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Projects */
#projects {
    width: 85%;
}
.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}
.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.preview video {
    width: 100%;
    border-radius: 2em;
}
.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
}