* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

body {
	width: 100vw;
	height: 100vh;
	background-image: url("assets/background.jpg");
    background-position: 10% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* doesn't work on mobile */
    z-index: -5;

	display: flex;
	justify-content: center;
	align-items: center;
}


#coming-soon-message {
	color: white;
	text-align: center;

	margin: 25px;
	padding: 15px;
}

#coming-soon-message h1 {
	font-size: 78px;
}

#coming-soon-message h2 {
	font-size: 60px;
}

#coming-soon-message h3 {
	font-size: 50px;
	padding-bottom: 30px;
}


a.button {
	font-size: 1.2em;
	padding: 15px;
	color: black;
	background-color: white;
	text-decoration: none;
	border-radius: 100px;
}


a.button:hover {
	background-color: #1d8ef2;
	color: white;
	cursor: pointer;

	transition: 0.50s;
}