* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

body {
	width: 100vw;
	height: 100vh;
	background-image: url("assets/background.jpg");
    background-position: 10% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* doesn't work on mobile */
    z-index: -5;

	display: flex;
	justify-content: center;
	align-items: center;
}


#coming-soon-message {
	font-size: 24px;
	color: white;
	text-align: center;
	line-height: 65px;
}

#view-resume-btn {
	margin: 25px;
	padding: 15px;
	font-size: 33px;
	color: black;
	background-color: white;
	border: none;
	outline: none;
	border-radius: 25px;
}


#view-resume-btn:hover {
	background-color: #1d8ef2;
	color: white;
	cursor: pointer;

	transition: 0.25s;
}


/* Mobile Changes */
@media (max-width: 680px) {
    /* Credit: https://stackoverflow.com/questions/26372127/background-fixed-no-repeat-not-working-on-mobile */
    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background-image: url("assets/background.jpg");
        background-position: 70% 0%;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	}
}