*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */
:root {
    --ff-lato: 'Lato', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-dark: #24292e;
    --clr-light: #dddddd;
    --clr-accent: #448ee5;

    --fs-h1: 3.5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.25rem;
    --fs-btn: 1.55rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.75rem;
        --fs-h4: 1.5rem;
        --fs-btn: 1.65rem;
        --fs-body: 1.125rem;
    }
}

/* General Styling */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-lato);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

.button {
    font-size: var(--fs-btn);
    margin: 0 15px;
    padding: 15px 25px;
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    border: solid 3px var(--clr-accent);
    text-decoration: none;
    letter-spacing: 0.1rem;
    border-radius: 50px;
}

.button:hover {
    transition: 0.3s;
    background-color: var(--clr-accent);
    color: var(--clr-light);
}

/* Font Styling */
h1,
h2,
h3,
h4 {
    line-height: 1.1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}
h4 {font-size: var(--fs-h4);}

.section-title {
    display: block;
    text-align: center;

}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

nav {

}

/* Home */
.home-btns {
    display: block;
}